<div class="container">
    <div class="item">
        Name: <input [(ngModel)]='name'>
    </div>
    <div class="item">
        Type:
        <select [(ngModel)]='empTypeId'>
            <option value="0">Select Employee Type</option>
            <option value='{{empType.id}}' *ngFor='let empType of empTypes'>{{ empType.type }}</option>
        </select>
    </div>
    <div><button mat-raised-button color='primary' (click)='saveMeBaby()'>Save</button></div>
</div>

<input type='checkbox' name='abc' value='1' [checked]='true'>One
<input type='checkbox' name='abc' value='2' [checked]='false'>Two
<input type='checkbox' name='abc' value='3' [checked]='true'>Three

<input type="radio" name='gender' value="m" [(ngModel)]='rd'>Male
<input type="radio" name='gender' value='f' [(ngModel)]='rd'>Female
<mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]='dob'>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

{{ name }}<br>
{{ empTypeId }}<br>
{{ chk }}<br>
{{ rd }}<br>
{{ dob }}<br>