<div *ngFor='let att of attendences'>
    {{att.id}}
    {{att.date}}
    {{att.isPresent}}
    {{att.empId}}
</div>
  
<div class="main">
    <h2>All Attendences Dates</h2>
    <a [routerLink]="['/attendences/new']">
        abc
    </a>
</div>