<div class="main">
    <h2>All Employee Types</h2>
    <a [routerLink]="['/employees/new']">
        <span class="material-icons">
            add_circle
        </span>
    </a>
    <div class="container">
        <div *ngFor='let employee of employees' class="item">
            <div class="innerItem">{{ employee.name }}</div>
            <div class="innerItem">{{ employee.type }}</div>
            <div class="innerItem">
                <button mat-raised-button color='primary' (click)="edit(employee.id)">Edit</button></div>
            <div class="innerItem"><button mat-raised-button color='warn' (click)="delete(employee.id)">Delete</button>
            </div>
        </div>
    </div>
</div>
