<div class="maincontainer">
    <div class="item"><a [routerLink]="['/emptypes']">Emp types</a></div>
    <div class="item"><a [routerLink]="['/employees']">Employees</a></div>
    <div class="item"><a [routerLink]="['/attendences']">Atttendence</a></div>
</div>
<router-outlet></router-outlet>
Created by Navendu
