<div class="main">
    <h2>All Employee Types</h2>
    <a [routerLink]="['/emptypes/new']">
        <span class="material-icons">
            add_circle
        </span>
    </a>
    <div class="container">
        <div *ngFor='let empType of empTypes' class="item">
            <div class="innerItem">{{ empType.type }}</div>
            <div class="innerItem"><button mat-raised-button color='primary'
                (click)="editType(empType.id)">Edit</button></div>
            <div class="innerItem"><button mat-raised-button color='warn'
                (click)="deleteType(empType.id)">Delete</button></div>
        </div>
    </div>
</div>
