/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main {
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 5px;
    display: flex;
}

.innerItem {
    padding-right: 5px;
}
